* {
  box-sizing: border-box;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  font-size: 14px;
  margin: 0;
}

.small-italic {
  font-size: 12px;
  font-style: italic;
  font-weight: 300;
}

input[type="text"],
textarea {
  border: none;
  outline: none;
  box-shadow: none;
  border-radius: 0;
  resize: none;
  appearance: none;

  border-bottom: 1px solid #e6e6e6;
  font-size: 16px;
  font-weight: 300;
  height: 30px;
  width: 100%;
}

label {
  color: #999999;
  display: block;
  font-size: 12px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 700;
  margin-bottom: 3px;
}

textarea {
  border: 1px solid #e6e6e6;
  font-size: 14px;
  height: 130px;
  padding: 10px;
  margin-bottom: 10px;
  resize: vertical;
}

.brand {
  align-items: center;
  background-color: #3A276A;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  height: 35px;
  padding: 0 15px;
}

.feedback-modal,
.feedback-submitting,
.feedback-ty {
  background-color: #ffffff;
  display: none;
  height: 100%;
  padding: 15px;
  position: absolute;
  top: 0;
  width: 500px;
}

.feedback-submitting,
.feedback-ty {
  color: #3A276A;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 24px;
  font-weight: 700;
  padding-top: 100px;
  text-align: center;
}

.rate {
  color: #3A276A;
  font-size: 12px;
  float: left;
}

.feedback-toggle {
  color: #9080B7;
  cursor: pointer;
  display: inline-block;
  font-size: 12px;
  text-align: right;
}

.feedback-toggle:hover {
  color: #ffffff;
}

.feedback-toggle.active {
  color: #ffffff;
}

.feedback-label {
  margin-top: 20px;
}

.replace-container {
  position: relative;
}

.replace-body {
  padding: 15px;
  width: 500px;
}

.replace-inputs {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.replace-input-container {
  width: 47%;
}

.replace-input-container input::-webkit-input-placeholder {
  color: #cccccc;
  font-size: 12px;
  font-style: italic;
}

.replace-submit {
  overflow: hidden;
}

.warning {
  color: red;
  font-size: 12px;
}

.submit-btn {
  color: #ffffff;
  cursor: pointer;
  background: #86D8DC;
  height: 32px;
  float: right;
  font-size: 14px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  padding: 0 20px;
  margin-bottom: 10px;

  border: none;
  outline: none;
  box-shadow: none;
  border-radius: 0;
  resize: none;
  appearance: none;
  transition: all .1s ease;
  -webkit-transition: all .1s ease;
}

.submit-btn:hover {
  background: #9760DB;
}

.replaced-header,
.options-header {
  font-size: 18px;
  font-weight: 700;
  border-bottom: 1px solid #e6e6e6;
  margin: 15px 0;
  padding-bottom: 5px;
}

.options-header {
  font-size: 14px;
}

.replaced-list {
  margin-top: 25px;
}

.replaced-item {
  align-items: center;
  border-top: 1px solid #fafafa;
  border-bottom: 1px solid #fafafa;
  display: flex;
  min-height: 30px;
  padding: 5px;
}

.replaced-item.empty {
  border: none;
}

.original-text,
.replaced-text {
  width: 200px;
}

.is-now-container {
  text-align: center;
  width: 50px;
}

.is-now {
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
}

.share-footer {
  align-items: center;
  background-color: #7047A3;
  color: #ffffff;
  display: flex;
  padding: 8px 10px;
}

.share-footer > div {
  height: 15px;
  line-height: 1;
}

.share-footer-text {
  margin-right: 8px;
}

.share-icon {
  margin: 0 5px;
}


/* Options */

.delete-item {
  align-items: center;
  display: flex;
  cursor: pointer;
  height: 15px;
  justify-content: center;
  width: 15px;
}

.reset-container {
  margin-top: 20px;
  overflow: hidden;
}

.reset {
  color: red;
  cursor: pointer;
  float: right;
}

.options-header {
  cursor: pointer;
}

.options-container {
  display: none;
  font-family: 'Source Sans Pro', sans-serif;
  overflow: hidden;
  margin-bottom: 20px;
}

.options {
  overflow: hidden;
  margin-bottom: 25px;
}

.chevron {
  height: 20px;
  margin-left: 5px;
  transform: rotate(0);
  -webkit-transform: rotate(0);
  vertical-align: middle;
  width: 20px;
  transition: all .15s ease;
  -webkit-transition: all .15s ease;
}

.chevron-up {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
}

.import,
.export {
  background-color: #fafafa;
  cursor: pointer;
  float: left;
  margin-right: 15px;
  padding: 5px 10px;
  transition: all .15s ease;
  -webkit-transition: all .15s ease;
}

.import:hover,
.export:hover {
  background-color: #86D8DC;
  color: #ffffff;
}

.selected {
  background-color: #86D8DC;
  color: #ffffff;
}

.options-message {
  float: left;
  height: 27px;
  font-size: 12px;
  line-height: 27px;
}

.json-export {
  background: #f4f4f4;
  border: 1px solid #ccc;
  display: none;
  padding: 15px;
}

.json-code {
  margin: 0;
  white-space: pre-wrap;
}

.json-import {
  display: none;
}

.json-import-textarea {
  background-color: #ffffff;
  border: 1px solid #e6e6e6;
  font-family: "Courier New", Courier, monospace;
  font-size: 14px;
  outline: none;
  box-shadow: none;
  border-radius: 0;
  padding: 20px;
  resize: none;
  appearance: none;
  height: 300px;
  width: 100%;
}

.json-import-submit {
  background: #2979ff;
  color: #ffffff;
  cursor: pointer;
  display: block;
  font-size: 14px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  height: 25px;
  margin-top: 15px;
  padding: 0 8px;

  border: none;
  outline: none;
  box-shadow: none;
  border-radius: 0;
  resize: none;
  appearance: none;
}
